<main class="main">
  <section class="main__title">
    <h2>Inserte aquí su buscador de series</h2>
  </section>

  <section class="main__search">
    <form action="" method="POST" class="main__search__form" id="js-form">
      <input
        type="text"
        class="main__search__form__input"
        id="js-search-input"
      />
      <button type="button" class="main__search__form__button" id="js-button">
        Busca, busca
      </button>
    </form>
  </section>

  <section class="main__results"></section>
  <section class="main__favs"></section>
</main>
