<main class="main">
  <section class="main__search">
    <h2 class="main__search__title">Inserte aquí su buscador de series</h2>
    <form method="GET" class="main__search__form js-form" id="js-form">
      <input
        type="text"
        class="main__search__form__input"
        id="js-search-input"
        placeholder="Los Soprano"
      />
      <button type="button" class="main__search__form__button" id="js-button">
        Busca, busca
      </button>
    </form>
  </section>

  <section class="main__results">
    <ul class="main__results__list" id="shows-search-result"></ul>
  </section>
  <section class="main__favs">
    <p class="main__favs__counter" id="fav-counter">0 favs</p>
    <ul class="main__favs__list" id="fav-shows-container"></ul>
  </section>
</main>
