<main class="main">
  <section class="main__search">
    <h2 class="main__search__title">Inserte aquí su buscador de series</h2>
    <form action="" method="POST" class="main__search__form" id="js-form">
      <input
        type="text"
        class="main__search__form__input"
        id="js-search-input"
      />
      <button type="button" class="main__search__form__button" id="js-button">
        Busca, busca
      </button>
    </form>
  </section>

  <section class="main__results js-results-container"></section>
  <section class="main__favs js-favs-container"></section>
</main>
