// fonts
$font-main: 'Open Sans', sans-serif;
$font-title: 'Vollkorn', serif;

// colors
$color-white: #ffffff;
$color-five: #730202;
$color-background: #f2f2f2f2;
$color-secondary: #bf785e;
$color-tertiary: #e5e5e5;
$color-black: #000000;

//breakpoints

$tablet: 768px;
$desktop: 1280px;
