// fonts
$font-main: 'Open Sans', sans-serif;
$font-title: 'Vollkorn', serif;

// colors
$color-white: #ffffff;
$color-background: #14213d;
$color-secondary: #fca311;
$color-tertiary: #e5e5e5;
$color-black: #000000;

//breakpoints

$tablet: 768px;
$desktop: 1280px;
