.page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;

  &__title {
    padding-top: 3rem;
    font-family: $font-title;
    font-size: 4.5rem;
    color: $color-secondary;
  }
}
